/* Skip to content*/
.skip {
    position: absolute;
    top: -50px;
    color: #000000;
}

.skip:focus {
    position: absolute;
    top: 0px;
}

/* Header and navbar */
header {
    background: #81759B;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #EAEAEA;
    font-family: "Anton", sans-serif;
    font-size: 3.5em;
    padding-top: 0.2em;
    text-align: center;
}

#logo {
    width: 20%;
    padding: 0 0 1em 0;
}

nav {
    width: 100%;
    padding-bottom: 0.4em;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
}

.nav_item a {
    color: #EAEAEA;
    text-decoration: none;
    font-family: "Anton", sans-serif;
    font-size: 20px;
    padding: 0 .2em .8em .2em;
}

.nav_item a:hover {
    transition: all .4s ease-in-out;
    color: #333;
    border-top: 2px solid #333;
}

#current {
    color: #333;
    border-top: 2px solid #333;
}


main {
    background-color: #BCBEBE;
    border-left: 10px solid #EAEAEA;
    border-right: 10px solid #EAEAEA;
    border-top: 10px solid #EAEAEA;
}

main p {
    color: #333;
}

/* Home */
.homecontainer {
    display: grid;
    grid-template-rows: auto auto auto auto;
    row-gap: 1em;
}
.home1 {
    display: flex;
}

.home2 {
    border-top: 10px solid #EAEAEA;
    display: flex;
}

.home3 {
    border-top: 10px solid #EAEAEA;
    display: flex;
}

.home4 {
    border-top: 10px solid #EAEAEA;
    display: flex;
    flex-direction: column;
}

#challenge {
    text-align: right;
    padding-top: 0.2em;
}

.home4 .text {
    text-align: right;
    padding-bottom: 1em;
}

#homevid {
    align-self: center;
    margin-top:0.6em;
    border-top: 5px solid #EAEAEA; 
}

#homeimg {
    align-self: center;
    width: 50%;
    border: 5px solid #EAEAEA;
}

.homecontainer .heading {
    font-family: "Bebas Neue", sans-serif;
    padding: .2em .2em 0 .2em;
    font-size: 2em;
}

.homecontainer div:nth-child(even) {
    text-align: right;
}

.homecontainer .text {
    font-family: "Barlow Condensed", sans-serif;
    padding: 0 .4em 0 .4em;
    font-size: 1.2em;
}



/* Marketplace */

.market h2 {
    font-family: "Bebas Neue", sans-serif;
    padding: .5em .2em 0 .2em;
    font-size: 2em;
}
.market .headers > p {
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.2em;
    text-align: center;
    padding-bottom: .5em;
}

.market .headers {
    border-bottom: 10px solid #EAEAEA;
}
.marketcontainer {
    display:grid;
    grid-template-rows: repeat(9, auto);
    grid-template-columns: 1fr;
}

video {
    width: 100%;
    height: auto;
    border-bottom: 5px solid #81759B;
    margin-bottom: -3px;
}

.marketcontainer > div {
    border-bottom: 10px solid #EAEAEA;
}

.marketcontainer .name {
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    padding-top: 0.5em;
    font-size: 2em;
    color: #333;
}

.marketcontainer .play {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 1.3em;
    text-align: center;
    padding-bottom: 0.3em;
    color: #333;
}

.marketcontainer .price {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 1.3em;
    padding-bottom: 0.7em;
    text-align: center;
    color: #333;
}

.marketcontainer .moment {
    border: 10px solid #81759B;
    margin-bottom: 20px;
}

.marketcontainer #last {
    margin-bottom: 0;
}

.market {
    background-color: #EAEAEA;
}

.market .headers, .marketcontainer .text {
    background-color: #BCBEBE;
}

.marketcontainer .text {
    
}


/* Players */
h2 {
    font-family: "Bebas Neue", sans-serif;
    color: #333;
    padding: .2em .2em 0 .2em;
    font-size: 2.4em;
    text-align: center;
}
.playerscontainer {
    display: grid;
    grid-template-rows: repeat(6, auto);
    grid-template-columns: 1fr 3fr;
}

.playerscontainer > div {
    border-top: 10px solid #EAEAEA;
}

 .playerscontainer .one{
     display: grid;
     grid-column: 1 / 3;
}

.playerscontainer .two{
    display: grid;
    grid-column: 1 / 3;
}

.playerscontainer .three{
    display: grid;
    grid-column: 1 / 3;
}

.playerscontainer .four{
    display: grid;
    grid-column: 1 / 3;
}

.playerscontainer .five{
    display: grid;
    grid-column: 1 / 3;
}

.playerscontainer .six{
    display: grid;
    grid-column: 1 / 3;
}

.playerscontainer .player {
    grid-column-start: 2;
    padding-left: 1em;
}

.playerscontainer .name {
    font-family: "Bebas Neue", sans-serif;
    padding-top: 0.5em;
    font-size: 1.6em;
}

.playerscontainer .info {
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.2em;
}

.playerscontainer .text {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 1.2em;
    padding: 0.5em 0.5em 0.5em 0em;
}



.face {
    width: 10em;
    border-top: 5px solid #EAEAEA;
    border-right: 5px solid #EAEAEA;
    border-bottom: 5px solid #EAEAEA;
    align-self: center;
}

/* NBA Top Shot */
.nbacontainer {
    display: grid;
}

.abouttopshot {
    border-bottom: 10px solid #EAEAEA;
    text-align: center;
}

.nbacontainer .heading {
    font-family: "Bebas Neue", sans-serif;
    padding: .2em .2em 0 .2em;
    font-size: 2em;
}

.nbacontainer .text {
    font-family: "Barlow Condensed";
    padding: 0 .4em .2em .4em;
    font-size: 1.2em;
    text-align: center;
}

.nbacontainer .list .text {
    padding: 1.5em 0.5em 1.5em 0.5em;
}

.nbacontainer .list div {
    border-top: 2px solid #333;
    border-left: 2px solid #333;
    border-right: 2px solid #333;
    border-bottom: 2px solid #333;
    margin: 2em 1em 2em 1em;
}

.nbacontainer .list .four {
    border-bottom: 2px solid #333;
}

.nbacontainer .list {
    border-bottom: 10px solid #EAEAEA;
}

.nbacontainer .connect {
display: grid;
grid-template-columns: 1fr 1fr;
}

.nbacontainer .connect li {
    font-family: "Barlow Condensed";
    padding: 0 .4em .2em .4em;
    font-size: 1.2em;
}
.connect div {
    border-right: 10px solid #EAEAEA;
}

#topshot {
    width: 100%;
    align-self: center;
}




/* Footer */
footer {
    display: flex;
    width:100%;
    background:#333;
    color: #EAEAEA;
    text-align: center;
    min-height: 3em;
    position: relative;
    left: 0;
    bottom: 0;
    border-top: 10px solid #EAEAEA;
    align-items: center;
  }

  footer p {
      margin: auto;
  }




